html {
  font-family: Overpass, sans-serif;
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.btn {
  border-color: #fff;
}

.btn:hover  {
  background-color: #fff;
  border-color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn:hover a {
  color: #ff9500;
}

.card-border {
  border: 3px solid #ff9500;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

@media only screen and (min-width: 60em) {

  .card-border {
    border-bottom: 0;
  }

}
