html {
  font-family: Overpass, sans-serif;

  color: #fff;
}

section {
  background-image: linear-gradient(to top, #ff5e3a,#ff9500);
}

li:first-child,
li:nth-child(2) {
  border-left: none;
  border-box: 2px solid rgba(255, 255, .5):
  }

.btn-ghost {
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 6px;
  padding: .5em;
  color: #fff;


}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
}

@media only screen and (min-width: 60em) {
  li:first-child
  li:nth-child(2) {
border-right: 2px solid rgba(255, 255 255, .5);
  }
}
